<div class="container">
  <div class="row align-items-center" style="margin-top:5%">
    <div class="col-lg-4 col-md-6 align-items-center">
      <div class="single-service border-bottom-hover">
        <div class="service-icon scheme-color">
          <button [routerLink]="'/cliente'" type="button" class="btn btn-menu" name="button" >
            <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
            </svg>
          </button>
        </div>
        <h3 class="scheme-color">Clientes</h3>
        <p>Módulo de gestión para los clientes, permite crear, actualizar y visualizar los clientes registrados en el sistema.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 align-items-center">
      <div class="single-service border-bottom-hover">
        <div class="service-icon scheme-color">
          <button [routerLink]="'/cita'" type="button" class="btn btn-menu" name="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
              <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
            </svg>
          </button>
        </div>
        <h3 class="scheme-color">Citas</h3>
        <p>Módulo de gestión para las citas, permite crear, actualizar y visualizar las citas agendadas en el sistema.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 align-items-center">
      <div class="single-service border-bottom-hover">
        <div class="service-icon scheme-color">
          <button [routerLink]="'/parametro'" type="button" class="btn btn-menu" name="button" routerLink="./parametro" routerLinkActive="active">
            <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019L13 11l-.471.242-.529.026-.287.445-.445.287-.026.529L11 13l.242.471.026.529.445.287.287.445.529.026L13 15l.471-.242.529-.026.287-.445.445-.287.026-.529L15 13l-.242-.471-.026-.529-.445-.287-.287-.445-.529-.026z" />
            </svg>
          </button>
        </div>
        <h3 class="scheme-color">Parámetros</h3>
        <p>Módulo de configuración, permite asignar valores a los datos parametrizables dentro del sistema.</p>
      </div>
    </div>
  </div>
</div>
